<div class="w3-container">
    
    <%- include('../layout/partials/sub-header') %> 

    <div class="w3-row-padding" style="margin-top: 10px;">
        <% cuisines.forEach( (item) => { %>
        <div class="w3-col s6 m4 l3">
            <div class="w3-card" style="min-height: 400px;">
                <div class="w3-padding w3-xlarge"><%= item.cuisine_name %></div>
                <div class="w3-container-fluid">
                    <img src="<%= item.image_url %>" style="width:100%;">
                </div>
                <div class="w3-padding">
                    <div class="w3-row">
                        <span class="w3-left"><i class="fas fa-coffee"></i></span>
                        <a class="w3-button w3-black w3-right" href="/search?query=<%= item.cuisine_name %>&city=<%= city %>&count=20&lat=&lon=">View Locals</a>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>