<div class="w3-container">
    <p>Results for <span class="w3-tag w3-round w3-light-gray w3-small"><%= query %></span></p>
    <div class="w3-row-padding">
        <% photos.forEach( photo => { %>
        <div class="w3-col s12 m6 l4" style="min-height: 300px;">
            <div class="w3-card" style="margin-top: 10px;">
                <img alt="<%- photo.title %>"
                    src="http://farm<%= photo.farm %>.static.flickr.com/<%= photo.server %>/<%= photo.id %>_<%= photo.secret %>_z.jpg"
                    style="width:100%;">
            </div>
        </div>
        <% }); %>

    </div>
</div>