<!DOCTYPE html>
<html>

<head>
    <title><%= siteName %> | <%= pageTitle %>  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/75ad862e18.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="w3-container-fluid">
        <div class="w3-center">
            <h1><b>Foodie Time!</b></h1>
            <h1>An API Mush Up</h1>
            <h2>Using Zomato, Flickr and Google Maps</h2>
        
            <!-- Search -->
            <%- include('./partials/search') %> 
            <% if ( template !== 'restaurant' && template !== 'search-results' && template !== 'cuisines') {%>
                <%- include('./partials/map')%>
            <% } %>
        </div>

        <%- include('./partials/navigation') %> 
        <%- include(`../pages/${template}`) %>
        
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>

</html>